#account_my_orders {
  padding: 30px;
  background-color: #fff;
  .category-count{
    color: $brand-primary;
  }
  .account-order-table{
    border: none;
    tbody.order-item-wrapper {
      &:hover {
        .order-number-wrapper{
          border-top-color: $brand-primary !important;
          border-left-color: $brand-primary !important;
          border-right-color: $brand-primary !important;
        }
        .order-info{
          border-bottom-color: $brand-primary !important;
          border-left-color: $brand-primary !important;
        }
        .order-total, .order-status, .order-operations{
          border-bottom-color: $brand-primary !important;
        }
        .order-operations{
          border-right-color: $brand-primary !important;
        }
      }
    }
    thead {
      font-size: 12px;
      height: 40px;
      border-radius: 2px;
      background-color: #f1f1f1;
      tr, th{
        border: none;
      }
    }
    tr.sep-row {
      height: 20px;
    }
    .order-item-price,
    .order-qty {
      margin-top: 10px;
      width: 100px;
    }
    td {
      padding: 15px 0;
    }
    .order-number-wrapper {
      padding: 8px 15px;
    }
    .order-product-item {
      padding: 15px 0;
      border-bottom: 1px solid #dddddd;
      &:first-child {
        padding-top: 0px;
      }
      &:last-child {
        border-width: 0;
      }
    }
  }

  .account-order-image > img {
    margin-left: 15px;
    width: 80px;
    height: 80px;
    border: 1px solid #dddddd;
  }
  .order-item-desc {
    margin-left: 15px;
    max-width: 240px;
    > * {
      @include ellipsis(100%);
    }
    .product-name {
      margin-top: 10px;
    }
    .product-variant {
      font-size: 12px;
      color: #999999;
    }
  }
  .order-total, .order-status, .order-operations {
    padding-top: 25px !important;
  }
  // .order-payment-state, .order-operations {

  // }
  .show-shipment {
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
    .shipment__info {
      background-color: #fff;
      padding: 15px;
      width: 200px;
      border: 1px solid $brand-primary;
      border-radius: 3px;
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
      top: 1.5em;
      display: none;
      &::after {
        position: absolute;
        width: 0px;
        height: 0px;
        border: 0px solid red;
        border-width: 0 8px 0 8px;

        // @include transform(rotate(45deg));
        left: 50%;
        top: 0;
      }
      .shipment__item {
        padding-bottom: 5px;
        border-bottom: 1px solid gray;
      }
    }
    &:hover {
      .shipment__info {
        display: block;
      }
    }
  }
}


#return_authorization_form_fields {
  // padding-left: 50px;
  border: 1px solid #ddd;
  display: block;
  overflow: hidden;
  padding: 0 45px 100px;
  background-color: #fff;
  .return_items_title {
    color: #333;
    font-weight: 500;
    margin: 3em auto 1em;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -1em;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #ddd;
    }
  }
  table.table {
    // border-top: 1px solid #ddd;
    th, td {
      border-bottom-width: 0 !important;
      border-top-color: transparent !important;
    }
    th {
      padding: 30px 8px;
    }
  }

  .return-item-image{
    // width: 180px;
    // text-align: center;
    img{
      width: 80px;
      height: 80px;
      border: solid 1px #dddddd;
    }
  }

  .return-item-description{
      font-size: 12px;
      width: 280px;
      max-width: 280px;
      min-width: 280px;
      padding-right: 31px;
      font-size: 12px !important;
      .item-title{
        display: block !important;
        @include ellipsis(100%);
      }
      .item-description{
        display: block !important;
        color: #ddd;
        line-height: 3;
        @include ellipsis(100%);
      }
    }
  #return_authorization_return_authorization_reason_id {
    width: 180px;
  }
  #return_authorization_memo {
    width: 400px;
    margin-top: 16px;
  }
  .return-tips {
    margin-top: 70px;
  }
}
