#account_my_orders {
  padding: 30px;
  background-color: #fff;
  .account-order-table{
    border: none;
    tbody.order-item-wrapper {
      &:hover {
        .order-number-wrapper{
          border-top-color: $brand-primary !important;
          border-left-color: $brand-primary !important;
          border-right-color: $brand-primary !important;
        }
        .order-info{
          border-bottom-color: $brand-primary !important;
          border-left-color: $brand-primary !important;
        }
        .order-total, .order-status, .order-operations{
          border-bottom-color: $brand-primary !important;
        }
        .order-operations{
          border-right-color: $brand-primary !important;
        }
      }
    }
    thead {
      font-size: 12px;
      height: 40px;
      border-radius: 2px;
      background-color: #f1f1f1;
      tr, th{
        border: none;
      }
    }
    tr.sep-row {
      height: 20px;
    }
    .order-item-price,
    .order-qty {
      margin-top: 10px;
      width: 100px;
    }
    td {
      padding: 15px 0;
    }
    .order-number-wrapper {
      padding: 8px 15px;
    }
    .order-product-item {
      padding: 15px 0;
      border-bottom: 1px solid #dddddd;
      &:first-child {
        padding-top: 0px;
      }
      &:last-child {
        border-width: 0;
      }
    }
  }

  .account-order-image > img {
    margin-left: 15px;
    width: 80px;
    height: 80px;
    border: 1px solid #dddddd;
  }
  .order-item-desc {
    margin-left: 15px;
    max-width: 240px;
    > * {
      @include ellipsis(100%);
    }
    .product-name {
      margin-top: 10px;
    }
    .product-variant {
      font-size: 12px;
      color: #999999;
    }
  }
  .order-total, .order-status, .order-operations {
    padding-top: 25px;
  }
}
