#forgot-password {
  // padding-top: 70px;
  .password-tip-text > label {
    margin-bottom: 20px;
  }
  .label-for-input {
    line-height: 52px;
  }
  input[name='commit'] {
    margin-top: 2px;
  }
  .panel {
    min-height: 650px;
  }
  margin-bottom: 50px;
  input#spree_user_email {
    max-width: 360px;
  }
}
