/*--------------------------------
  Colors
--------------------------------*/
$brand-primary: #fa5930;
$zhendi-red: #f13c3c;

$navbar-height: 40px;

/********************************* Alias Class ***********************/
.inline{
  display: inline-block;
}
.absolute{
  position: absolute;
}
