/*--------------------------------
  Colors
--------------------------------*/
$brand-primary: #fa5930;

$navbar-height: 40px;

/********************************* Alias Class ***********************/
.inline{
    display: inline-block;
}