#products  {
  @include clearfix;
  margin-top: 30px;
  .product-list-item {
    width: 20%;
    float: left;
    display: inline-block;
    // margin-bottom: 15px;
    > .panel {
      border-top: 0;
      border-left: 0;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      box-shadow: none;
      margin: 0;
      border-radius: 0;
      .product-image {
        width: auto;
        max-width: 178px;
        height: 178px;
      }
    }
    &:nth-child(1), &:nth-child(2),
    &:nth-child(3), &:nth-child(4),
    &:nth-child(5) {
      > .panel {
        border-top: 1px solid #ddd;
      }
    }
    &:nth-child(5n+1) > .panel {
      border-left: 1px solid #ddd;
    }
    &:nth-child(n+11) {
      display: none;
    }
    .panel-body {
      height: auto;
      padding: 25px 15px 5px;
      .info {
        display: block !important;
        margin-top: 40px;
        margin-bottom: 15px;
        @include ellipsis(100%);
      }
    }
    a.product-name {
      @include ellipsis(100%);
    }
    .panel-footer {
      padding-top: 0;
      background-color: transparent;
      border: none;
      .other-info {
        line-height: 30px;
        color: #888888;
        font-size: 12px;
      }
      .btn-add-to-cart {
        background-color: #f13c3c;
        font-size: 12px;
        color: #fff;
        &:hover {
          background-color: #f36d6d;
        }
      }
      .product-price {
        line-height: 1.4;
        text-align: left;
        font-size: 14px;
        color: #444444;
        span.price {
          color: $brand-primary;
          // font-size: 18px;
        }
      }
      .product-price-origin {
        line-height: 1.4;
        > span {
          line-height: 1.4;
        }
      }
    }
  }
}
