// product filters
#search-and-filter{
  .result-count {
    padding: 12px 0;
    .search-result-count {
      color: $brand-primary;
    }
  }
  .filter-item {
    border-bottom: 1px dashed #dddddd;
    &.select-category {
      border-bottom-color: transparent;
    }
  }
  .filter-title {
    width: 10%;
    color: #999;
    line-height: 2;
  }
  .filter-wrapper {
    padding: 20px 0;
    font-size: 12px;
    .close-btn {
      display: none;
      padding: 0;
      line-height: 2;
      color: #444;
    }
    .open-btn {
      display: block;
      padding: 0;
      line-height: 2;
      color: #444;
    }
    &.opened .filter-name-item:nth-child(n+20){
      display: inline-block;
    }
    &.opened {
      .close-btn {
        display: block;
      }
      .open-btn {
        display: none;
      }
    }
  }
  .filter-name-item {
    margin-right: 15px;
    line-height: 2;
    &.active {
      color: $brand-primary;
    }
    &:nth-child(n+20) {
      display: none;
    }
  }
  .filter-body {
    width: 80%;
  }
  .collapse-btn {
    width: 10%;
    .btn {
      font-size: 12px;
    }
  }
}
.filter-orders {
  color: #262626;
  margin-top: 38px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  font-size: 12px;
  .filter-orders__title {
    line-height: 40px;
  }
  .filter-orders__content {
    border: 1px solid #ddd;
    border-radius: 1px;
  }

  .btn--orders {
    display: inline-block;
    float: left;
    padding: 10px 30px;
    .up {
      display: block;
    }
    .down {
      display: none;
    }

    &.active {
      background-color: #fff;
      a{
        color: #fa5930;
      }
    }
    &.down {
      .up {
        display: none;
      }
      .down {
        display: block;
      }
    }
  }
  .btn--orders  ~ .btn--orders  {
    border-left: 1px solid #ddd;
  }
}