#checkout_address{
  .address-block {
    display: inline-block;
    width: 280px;
    height: 158px;
    border-radius: 1px;
    background-color: transparent;
    margin-right: 20px;
    overflow: hidden;
    font-size: 12px;
    input {
      //visibility:hidden;
    }
    > label {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      // overflow: auto;
      cursor: pointer;
      border: solid 1px #dddddd;
    }
    .selected-triangle {
      position: absolute;
      content: '';
      right: 0;
      bottom: 0;
      width: 14px;
      height: 16px;
      padding: 2px;
      color: #fff;
      > i {
        font-size: 12px;
        position: relative;
      }
      &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0px;
        height: 0px;
        border: 20px solid $brand-primary;
        display: none;
        @include transform(rotate(45deg) translateX(80%) translateY(10%));
      }
    }
  }
  .address__item {
    padding: 10px 18px;
    color: #333333;
    font-weight: 200;
  }
  input:checked ~ label {
    border-color: #fa5930;
    background-color: #fff;
    .selected-triangle::before {
      display: block;
    }

  }
  .address__item ~ .address__item {
    border-top: 1px solid #dddddd;
  }
  .address-block-new{

    > label {
      position: relative;
    }
    .address-block-new__content-wrapper {
      position: absolute;
      font-weight: normal;
      width: 100%;
      top: 50%;
      @include transform(translateY(-50%));
    }
    .address--new__btn {
      margin: 0 auto 10px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      padding: 4px 6px;
      background-color: #ddd;
      > i {
        color: #fff;
      }
    }
  }
}

#address-form {

}
.new-address-form {

}
.form-group .form-group {
  margin-bottom: 0;
}

.form-horizontal.form-address-book {
  margin: 20px auto;
  font-size: 12px;
  > .form-group {
    margin-bottom: 18px !important;
  }
  input, select, option {
    font-size: 12px !important;
  }
}

.form-horizontal.form-address-book label.control-label {
  font-weight: normal !important;
  text-align: left !important;
}
.form-horizontal.form-address-book .form--address__area {

  .form-group {
    margin: 0;
    width: 31.33%;
    float: left;
    select.form-control {
      width: 100%;
      // -webkit-appearance: none;
      @include transition(none);
      border-radius: 0 !important;
    }
  }
  .form-group ~ .form-group {
    margin-left: 3%;
  }

}
.form__input-tips {
  margin: 8px auto 0 -15px;
}
.icon-tips-has-bg {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  text-align: center;
  line-height: 14px;
  background-color: #f13c3c;
  color: #fff;
}

.user-address-form__btn {
  padding-left: 15px;
}
