#payment, #order_summary {
  .text-color {
    color: #fa5930;
  }
  .order-info {
    > h4 {
      margin-top: 80px;
      font-size: 20px;
      color: #262626;
    }
    > p {
      margin-top: 15px;
      color: #999999;
      span {
        color: #fa5930;
      }
    }
    .order-info-diveder {
      display: inline-block;
      margin: 15px auto;
      position: relative;
      color: #999999;
      font-size: 12px;
      line-height: 13px;
      &::before, &::after {
        content: '';
        position: absolute;
        width: 200px;
        height: 1px;
        background-color: #dddddd;
        top: 6px;
      }
      &::before {
        left: -225px;
      }
      &::after {
        right: -225px;
      }
    }
    .order-info-list {
      font-size: 12px;
      width: 400px;
      margin: 0 auto;
      .list-label {
        margin: 4px 0;
        color: #999999;
      }
      .list-content {
        margin: 4px 0;
        color: #333333;
      }
    }
  }
  .payment-methods {
    margin: 70px 0;
    background-color: #fff;
    border: solid 1px #dddddd;
    .payment-method-head {
      padding: 20px;
      border-bottom: 1px solid #ddd;
      font-size: 12px;
    }
    .payment-method-body {
      padding: 20px;
    }
    .total-price{
      color: #fa5930;
      font-size: 16px;
    }
  }
  .list-group-item {
    border-radius: 0 !important;
    border: none;
    padding: 20px 0 0;
    font-weight: normal;
    .first-choice{
      color: #999999;
      font-weight: normal;
    }
  }

  .alipay-img-wrapper {
    padding: 15px 20px 30px;
    fieldset > img {
      width: 108px;
      height: 44px;
      padding: 5px;
      border: 1px solid #ddd;
    }
  }
  .transfer-list {
    padding: 15px 20px 30px;
    > div {
      margin-top: 5px;
    }
  }
}
