.content-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

#home-feature-tabs {
  ul.nav-tabs > li > a {
    font-size: 18px;
    font-weight: bold;
  }
}

#home-content-products {
  @include clearfix;
  .product-list-item {
    width: 20%;
    float: left;
    display: inline-block;
    > .panel {
      border-top: 0;
      border-left: 0;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      box-shadow: none;
      margin: 0;
      border-radius: 0;
    }
    &:nth-child(1), &:nth-child(2),
    &:nth-child(3), &:nth-child(4),
    &:nth-child(5) {
      > .panel {
        border-top: 1px solid #ddd;
      }
    }
    &:nth-child(5n+1) > .panel {
      border-left: 1px solid #ddd;
    }
    .panel-footer {
      background-color: transparent;
      border: none;
    }
  }
}
