.content-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

#home-feature-tabs {
  ul.nav-tabs > li > a {
    font-size: 18px;
    font-weight: bold;
  }
}

#home-content-products {
  @include clearfix;
  .product-list-item {
    width: 20%;
    float: left;
    display: inline-block;
    > .panel {
      border-top: 0;
      border-left: 0;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      box-shadow: none;
      margin: 0;
      border-radius: 0;
      .product-image {
        // width: 160px;
        width: auto;
        max-width: 178px;
        height: 178px;
      }
    }
    &:nth-child(1), &:nth-child(2),
    &:nth-child(3), &:nth-child(4),
    &:nth-child(5) {
      > .panel {
        border-top: 1px solid #ddd;
      }
    }
    &:nth-child(5n+1) > .panel {
      border-left: 1px solid #ddd;
    }
    &:nth-child(n+11) {
      display: none;
    }
    .panel-body {
      height: auto;
      padding: 25px 15px 5px;
      .info {
        display: block !important;
        margin-top: 35px;
        margin-bottom: 10px;
        @include ellipsis(100%);
      }
    }
    .product-price {
      text-align: left;
      font-size: 14px;
      color: #444444;
      span.price {
        color: $brand-primary;
        font-size: 18px;
      }
    }
    .panel-footer {
      padding-top: 0;
      background-color: transparent;
      border: none;
      .other-info {
        line-height: 1.7;
        color: #888888;
        font-size: 12px;
      }
    }
  }
}


#home-content-feature-categories {
  .home-content-feature-category {
    @include clearfix;
  }
  .category-head {
    // @include clearfix;
    .category-title {
      line-height: 40px;
      font-size: 18px;
      font-weight: bold;
    }
    .navbar {
      margin-bottom: 0;
    }
  }
  &:nth-child(1) .category-head .category-title .title-index { color: #ff5801;}
  &:nth-child(2) .category-head .category-title .title-index { color: #ff0037;}
  &:nth-child(3) .category-head .category-title .title-index { color: #026dff;}
  &:nth-child(4) .category-head .category-title .title-index { color: #8548ff;}

  .category-wrapper {
    width: 80%;
    float: left;
  }
  .category-ranking {
    width: 20%;
    float: right;
  }
  .category-list-item {
    display: inline-block;
    float: left;
    width: 25%;
    height: 330px;
    &.first {
      width: 50%;
      @include linear-gradient(to top, #ff5600, #ff9124);
    }
    &:nth-child(n+8) {
      display: none;
    }
    > .panel {
      border-top: 0;
      border-left: 0;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      box-shadow: none;
      margin: 0;
      border-radius: 0;
      height: 100%;
    }

    &:nth-child(2),
    &:nth-child(3) {
      > .panel {
        border-top: 1px solid #ddd;
      }
    }
    &:nth-child(4n+1) > .panel {
      border-left: 1px solid #ddd;
    }
    .panel-footer {
      background-color: transparent;
      border: none;
    }
    .product-title {
      margin-top: 50px;
      text-align: left;
      width: 100%;
      @include ellipsis(100%);
    }
    .product-price {
      text-align: left;
      font-size: 14px;
      color: #444444;
      span {
        // color: $brand-primary;
      }
      span.price {
        color: $brand-primary;
        font-size: 18px;
      }
    }
    .product-body {
      height: auto;
    }
    .product-image {
      width: 178px;
      height: 178px;
    }
    .panel-body {
      padding-top: 25px;
      padding-bottom: 0;
    }
  }

  .category-ranking {
    padding: 2px 15px 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: none;
    h4 {
      margin: 20px 0;
    }
    .ranking-item {
      padding: 24px 0;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border: none;
      }
    }
    .ranking-image {
      display: inline-block;
      width: 70px;
      padding-top: 70px;
      background-color: #b4b4b4;
    }
    .ranking-info {
      padding: 0 10px;
      display: inline-block;
      @include calc('width', '100% - 70px');
      .ranking-title {
        text-decoration: underline;
        @include ellipsis(100%);
      }
      .ranking-price {
        span {
          color: $brand-primary;
        }
        span.price {
          font-size: 16px;
        }
      }
      .ranking-sale-vol {
        font-size: 12px;
        color: #888888;
      }
    }
  }
}
