#header{
  background-color: white;
}

#nav-bar-buttons-right{
  .nav-btn-my-profile{
    margin-right: 20px;
  }
}

#spree-main-header {
  background-color: #fafafa;
  height: $navbar-height;
  * {
    font-size: 12px;
  }
  #main-nav-bar {
    margin-bottom: 0;
  }
  li.navbar-devider {
    line-height: 20px;
    padding: 10px 0;
    color: #c8c8c8;
    &:hover {
      color: #c8c8c8;
    }
  }
}

.navbar-form-search {
  width: 500px;
  margin-left: 50px;
}
#link-to-login {
  display: none !important;
}


#spree-third-header{
  background-color: white;
  padding-bottom: 32px;
  .icon-double-arrow-down{
    font-size: 10px;
    float: right;
    padding-top: 6px;
    @include transform(scale(0.8));
  }
  /* center */
  .slider-content{
    .title-above-slider{
      padding-top: 9px;
      padding-bottom: 10px;
      padding-left: 80px;
      a{
        color: white;
        font-size: 16px;
        padding: 9px 18px 10px;
        &:hover, .active{
          background-color: #f04013;
        }
      }
      .section{
        // margin-right: 30px;
        border-right: solid 1px #df421a;
      }
    }
  }

  /* right */

  .profile-in-header{
    $padding_size: 14px;
    width: 210px;
    height: 425px;
    border: 1px solid #dddddd;

    .hi-section{
      height: 74px;
      text-align: center;
      .hi{
        padding-top: 19px;
        margin-bottom: 5px;
      }
      .welcome{
        color: #888888;
        font-size: 12px;
      }
    }
    .login-btns{
      height: 46px;
      background-color: #fafafa;
      border-top: solid 1px #dddddd;
      border-bottom: solid 1px #dddddd;
      a{
        line-height: 46px;
        vertical-align: middle;
      }
      .login-btn-item{
        text-align: center;
        &:first-child{
          border-right: 1px solid #dddddd;
        }
      }
      i{
        vertical-align: middle;
        color: #fa5930;
        font-size: 15px;
        margin-right: 7px;
      }
    }
    .notice{
      .nav-tabs{
        height: 35px;
        margin-bottom: 13px;
        padding-left: $padding_size;
        a{
          height: 35px;
          font-size: 12px;
          border-bottom-width: 1px;
        }
      }
      .tab-content{
        height: 90px;
        overflow: hidden;
      }
      .tab-pane{
        font-size: 12px;
        padding-left: $padding_size;
        line-height: 26px;
      }
    }
    .safe-guards{
      height: 46px;
      border-top: solid 1px #dddddd;
      border-bottom: solid 1px #dddddd;
      i{
        line-height: 46px;
        font-size: 18px;
        color: #fa5930;
      }
    }
    .phone-title{
      height: 40px;
      line-height: 40px;
      border-bottom: solid 1px #dddddd;
      padding-left: $padding_size;
      pading-top: 12px;
    }
    .phone-number{
      padding-top: 12px;
      padding-left: $padding_size;
      .number{
        color: #fa5930;
        font-size: 20px;
        padding-bottom: 5px;
      }
      .serve-time{
        color: #888888;
        font-size: 12px;
      }
    }
  }
  .slider-content{
    padding-left: 180px;
    .title-above-slider{
      height: 40px;
      background-color: #fa5930;
      margin-bottom: 15px;
    }
    .home-slider{
      margin: 0px 12px;
      padding-right: 210px;
    }
  }

  /* left  */
  #all-category-menu{
    background-color: #f04013;
    width: 180px;
    height: 40px;
    color: white;
    font-size: 16px;
    text-align: left;
    padding-left: 16px;
    border: none;
    border-radius: 0px;
  }
  /* right-menu */
  .right-menu-dropdown{
    min-width: 520px;
    max-width: 520px;
    padding-top: 15px;
    .list-group-item{
      display: inline-block;
      border: none;
      padding: 0px 10px 8px 0px;
      font-size: 12px;
      &:hover{
        background-color: white;
        color: #fa5930;
      }
    }
    .list-group-item-in-right-menu{
      width: 90px;
      float: left;
      &:hover{
        color: #fa5930;
      }
    }
    .list-group{
      min-height: 30px;
      padding-bottom: 5px;
      border-bottom: dashed 1px #dddddd;
      margin-left: 100px;
      margin-bottom: 10px;
    }
  }

  /* left-menu */
  .left-menu-dropdown.for_absolute{
    position: absolute;
  }
  .left-menu-dropdown{
    position: relative;
    float: none;
    width: 180px;
    height: 440px;
    background-color: #f8f8f8;
    padding-top: 10px;
    .left-menu-title{
      border-bottom: solid 1px #dddddd;
      padding: 0px 10px 7px 30px;
      font-weight: 500;
      &:hover{
        background-color: #f8f8f8;
        color: #fa5930;
      }
    }
    .list-group-in-left-menu{
      padding: 10px 35px 0px 31px;
    }
    .list-group-item-in-left-menu{
      color: #444444;
      font-size: 12px;
      margin-right: 10px;
    }
  }
  .dropdown-menu{
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
  }
  .dropdown-menu-left{
    &:hover{
      .left-menu-title {
        color: #fa5930;
      }
    }
  }
  .dropdown-submenu{
    padding-bottom: 15px;
  }
  .dropdown-submenu>.dropdown-menu{
    top: -1px;
    bottom: -1px;
    left:100%;
  }
  .dropdown-submenu:hover>.dropdown-menu{
    display:block;
  }
}
