#nav-bar-buttons-right{
    .nav-btn-my-profile{
        margin-right: 20px;
    }
}

#spree-main-header {
    background-color: #fafafa;
    * {
        font-size: 12px;
    }
    #main-nav-bar {
        margin-bottom: 0;
    }
  li.navbar-devider {
    line-height: 20px;
    padding: 15px 0;
    color: #c8c8c8;
    &:hover {
      color: #c8c8c8;
    }
  }
}

.navbar-form-search {
    width: 500px;
    margin-left: 50px;
}
#link-to-login {
    display: none !important;
}


#spree-third-header{
    #all-category-menu{
        background-color: #f04013;
        width: 180px;
        height: 40px;
        color: white;
        font-size: 16px;
        text-align: left;
        padding-left: 16px;
        border: none;
        border-radius: 0px;
    }
    .left-menu-dropdown{
        position: relative;
        float: none;
        width: 180px;
        background-color: #f8f8f8;
        .left-menu-title{
            border-bottom: solid 1px #dddddd;
            margin: 0px 10px;
            font-weight: 500;
            &:hover{
                background-color: #f8f8f8;
                color: #fa5930;
            }
        }
        .list-group-in-left-menu{
            margin-left: 31px;
            margin-right: 35px;
        }
        .list-group-item-in-left-menu{
            color: #444444;
            font-size: 12px;
        }
    }
    .dropdown-menu{
        border-radius: 0px;
        box-shadow: none;
        margin: 0px;
    }
    .dropdown-submenu>.dropdown-menu{
        top: -1px;
        bottom: -1px;
        left:100%;
    }
    .dropdown-submenu:hover>.dropdown-menu{
        display:block;
    }
}
