#home-carousel {
  margin-bottom: 12px;
  .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    height: 280px;
  }
  .carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
    &>li {
      width: 8px;
      height: 8px;
      margin: 2px;
      border: 1px solid #444444;
      background-color: transparent;
    }
    &>li.active {
      width: 8px;
      height: 8px;
      background-color: #444444;
      margin: 2px;
    }
  }
}

.home-swiper {
  position: relative;
  .swiper-button-prev, .swiper-button-next {
    // width: 15px;
    // height: 28px;
    background-image: none !important;
    color: #888888;
    > i {
      font-size: 36px;
      color: #888888;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}

.swiper-container {
  width: 90%;
  height: 100%;
  margin: 0 5%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #dbdbdb;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-item {
  width: 100%;
  background-color: #fff;
  padding: 5px 0;
}

.float-kefu{
  @media (max-width: 1379px){
    display: none;
  }
  position: absolute;
  top: 200px;
  right: 0px;
  text-align: center;
  border-radius: 2px;
  border: solid 1px #efefef;
  width: 170px;
  height: 428px;

  &.affix{
    top: 20px;
  }
  .title{
    font-size: 16px;
    background-color: #efefef;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
  }
  .kefu-body{
    background-color: white;
    padding: 0px 25px;
  }
  .section{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .content{
    font-size: 12px;
    margin-bottom: 8px;
  }
  .social-link-icon{
    margin-top: 20px;
    li{
      display: inline-block;
      a{
        padding: 0px;
        &:first-child{
          margin-right: 9px;
        }
      }
    }
  }
  .icon-wechat, .icon-qq{
    font-size: 16px;
    color: white;
    border-radius: 50%;
    padding: 10px;
    background-repeat: no-repeat;
  }
  .icon-wechat{
    background-color: #4dd865;
  }
  .icon-qq{
    background-color: #5ebdf6;
  }
  .active .triangle{
    display: block;
  }
  .triangle{
    display: none;
    margin-top: 8px;
    border: 5px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color: #efefef;
    margin-left: auto;
    margin-right: auto;
  }
  .tab-content{
    border: 5px solid #efefef;
  }
  .tab-pane{
    .qrcode{
      width: 106px;
      height: 106px;
    }
  }
}