/***************************** Left part ************************/
.product-left-part{
  width: 450px;
  #product-images{
    width: 420px;
    height: 420px;
    .zoom-click{
      width: 100%;
    }
  }
  #main-image{
    margin-bottom: 12px;
  }
  #product-thumbnails{
    margin-left: 0px !important;
    li{
      border: solid 1px #dddddd;
      width: 80px;
      height: 80px;
      padding: 0px;
      margin-right: 10px;
    }
    .selected{
      border: solid 1px #fa5930 !important;
    }
    img{
      width: 100%;
    }
  }
}

.product-right-part{
  width: calc(100% - 460px);
}

#product-buy-btns{
  margin-top: 60px;
  .btn{
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: white;
  }
  .btn[disabled]{
    opacity: 0.5 !important;
  }
  #add-to-cart-button-directly{
    margin-right: 16px;
    background-color: #f13c3c;
  }
  #add-to-cart-button{
    background-color: #fe980d;
    border: none;
  }
}
#inside-product-cart-form{
  .min-count{
    color: #f13c3c;
    font-size: 11px;
    margin-top: 8px;
    margin-left: 83px;
  }
}

#product-description{
  .add-to-cart{
    vertical-align: middle;
    .input-group-btn{
      width: inherit;
    }
  }
  #product-price{
    margin-bottom: 20px;
    .product-section-title{
      color: #444444;
      margin-right: 5px;
      font-size: 12px;
    }
    .lead{
      color: #f72020;
      font-size: 20px;
    }
    .lead-currency{
      color: #f72020;
      font-size: 12px;
    }
  }
  #inside-product-cart-form{
    padding-top: 3px;
  }
  #product-properties{
    margin-bottom: 0px;
  }
  .product-title-section{
    color: #444444;
  }
  .product-title{
    margin-bottom: 10px;
    font-size: 18px;
  }
  .product-title-subdescription{
    margin-bottom: 20px;
    font-size: 14px;
  }
  .product-country, .product-brand{
    font-size: 14px;
    margin-right: 5px;
  }
  .property-item{
    font-size: 14px;
    margin-bottom: 11px;
  }
  .property-title{
    width: 75px !important;
    color: #999999;
    text-align: justify;
    text-align-last: justify;
    -ms-text-align-last: justify;
    padding: 0px 10px 0px 0px !important;
    margin-right: 5px !important;
    &::after {
      content: ":";
    }
  }
  .property-value{
    margin-left: 4px;
    color: #444444;
  }
}
#product-variants{
  .property-title{
    margin-top: 3px;
  }
  .variant-list{
    display: inline-block;
  }
  .variant-option-values{
    margin-bottom: 0px !important;
    li{
      padding-left: 0px;
      padding-right: 10px;
      a.option-value{
        padding: 3px 7px;
        font-size: 13px;
        margin: 0px;
        border: solid 1px #dddddd;
        border-radius: 0px;
        min-width: 64px;
        text-align: center;
        &.selected, &:hover{
                      border-color: #fa5930;
                      background-color: transparent;
                      color: #444444;
                      position: relative;
                      &::after {
                        content: "\e906";
                        font-family: 'icomoon';
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        right: 0;
                        bottom: 0;
                        color: #fff;
                        padding: 2px;
                        background-color: $brand-primary;
                        @include transform(scale(0.5));
                        @include transform-origin(right bottom);
                      }
                    }
      }
    }
  }
}
.product-description-content {
  padding: 40px 120px;
}

.product-section-title{
  font-size: 16px;
  color: #444;
}

/************* WishList ****************/

#wishlist-form{
  position: absolute;
  bottom: 8px;
  right: 150px;
  button{
    font-size: 14px;
    color: #444444;
    background: none;
    border: none;
  }
}

/************* similar products ****************/
.similar-product-section{
  margin-top: 90px;
  margin-bottom: 40px;
}

#similar_items_by_taxon{
  margin-top: 16px;
  .similar-group-item{
    height: 145px;
    border: 1px solid #dddddd;
    background-color: white;
    padding-top: 20px;
    padding-left: 8px;
  }
  .similar-product-image{
    overflow:hidden;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    font-size: 14px;
  }
  .similar-product{
    vertical-align: middle;
    padding-left: 108px;
    padding-right: 5px;
    margin-top: 15px;
  }
  .similar-product-name{
    font-size: 14px;
    margin-bottom: 5px;
    @include ellipsis();
  }
  .similar-product-price{
    font-size: 16px;
    color: #fa5930;
  }
  .similar-product-amount{
    font-size: 12px;
    color: #888888
  }
}
