#cart-container{
  #continue_shopping{
    margin-right: 40px;
    font-size: 12px;
    color: #333333;
  }
  #cart-detail{
    td{
      height: 120px;
    }
    .cart_items_headers{
      border-radius: 2px;
      background-color: #464646;
      td{
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        font-weight: normal;
        color: #ffffff;
        background-color: transparent;
      }
    }
    .cart-item-check-all {
      .radio-inline, .checkbox-inline {
        padding-left: 50px;
        > input {
          top: 50%;
          margin-top: -7px;
        }
      }
    }
    .line-item label {
      padding-left: 50px;
    }
    .cart-item-image{
      width: 220px;
      text-align: center;
      img{
        width: 80px;
        height: 80px;
        border: solid 1px #dddddd;
      }
    }
    .cart-item-price{
      width: 150px;
      max-width: 150px;
      min-width: 150px;
      font-size: 12px;
      color: #333333;
    }
    .cart-item-quantity{
      width: 150px;
      max-width: 150px;
      min-width: 150px;
      text-align: center;
      .input-group-number-field{
        width: 105px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .cart-item-total{
      width: 200px;
      text-align: center;
      font-size: 12px;
      color: #f13c3c;
    }
    .cart-item-delete{
      text-align: center;
      span{
        color: #dddddd;
      }
      a.delete:hover span {
        color: #333333;
      }
    }
    .cart-item-description{
      font-size: 12px;
      width: 280px;
      max-width: 280px;
      min-width: 280px;
      padding-right: 31px;
      fonts-size: 12px !important;
      .item-title{
        @include ellipsis(100%);
      }
      .item-desc{
        @include ellipsis(100%);
      }
    }
    .cart-total{
      td{
        height: 100px;
        background-color: #f1f1f1;
      }
      label.checkbox-inline, .delete-all {
        line-height: 50px;
        font-size: 12px;
      }
      label.checkbox-inline {
        padding-left: 50px;
        > input {
          top: 50%;
          margin-top: -7px;
        }
      }
      .total-price-title{
        line-height: 83px;
        font-size: 16px;
        margin-top: 40px;
        margin-right: 30px;
        color: #666666;
      }
      .total-price{
        line-height: 83px;
        font-size: 16px;
        color: #f13c3c;
        margin-right: 40px;
      }
      .btn-check{
        height: 32px;
        width: 110px;
        background-color: #c2c2c2;
        border: none;
        margin-right: 30px;
        &.active{
          background-color: #f13c3c;
        }
      }
    }
  }
}
