<div id="spree-footer">

<footer data-editable="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="footer-nav-title">新手指南</div>
                <ul class="nav nav-stacked">
                    <li><a href="/page/about/">了解我们</a></li>
                    <li><a href="/blog/">买家须知</a></li>
                    <li><a href="/search/">网站订购流程</a></li>
                    <li><a href="/">绑定支付宝</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="footer-nav-title">配送方式</div>
                <ul class="nav nav-stacked">
                    <li><a href="/page/about/">费送费收取标准</a></li>
                    <li><a href="/blog/">物流说明</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="footer-nav-title">售后服务</div>
                <ul class="nav nav-stacked">
                    <li><a href="/page/about/">产品质量保障条款</a></li>
                    <li><a href="/blog/">投诉与建议</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="footer-nav-title">代理加盟</div>
                <ul class="nav nav-stacked">
                    <li><a href="/page/about/">合作准则</a></li>
                    <li><a href="/blog/">地域说明</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-3 footer-contact-items">
                <div class="footer-nav-text-title">客户服务</div>
                <ul class="nav nav-stacked">
                    <li class='footer-nav-text'><i class="icon-phone"></i> 400-881-5837</li>
                </ul>

                <div class="social-link-icon footer-btn-wechat">
                  <i class="footer-icon icon-wechat"></i>
                  <%= image_tag 'home/qrcode/weixin.jpg', class: 'popup' %>
                </div>
                <div class="social-link-icon footer-btn-qq">
                  <i class="footer-icon icon-qq"></i>
                  <%= image_tag 'home/qrcode/qq.jpg', class: 'popup' %>
                </div>
                <!-- <a href="http://weibo.com/" class="social-link-icon"><i class="footer-icon icon-weibo"></i></a> -->
            </div>

        </div>
        <div class="copyright text-center">Copyright &copy; 2010-2016 内蒙古二连浩特市真谛进口商品批发网 版权所有</div>
        <div class="beian text-center">蒙ICP备14043145号 流量统计</div>
    </div>
    <!-- <div id="back-to-top" class="btn hidden-xs" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');">
        <i class="icon-angle-up arrow-up" aria-hidden="true"></i>
    </div> -->
</footer>

</div>
