<nav class="navbar col-md-10 col-sm-10" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav" data-hook>
    <li id="search-bar-1" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
  <div id="nav-bar-buttons-right" class="navbar-right">
      <div class="inline nav-btn-my-profile">
          <%= link_to ("<i class='left-icon icon-profile'></i>个人中心").html_safe, "/account", class: "btn btn-default btn-zhendi-default"%>
      </div>
      <div class="inline go-to-cart">
          <%= link_to ("<i class='left-icon icon-cart'></i>去购物车结算").html_safe, "/cart", class: "btn btn-default btn-zhendi-default"%>
      </div>
  </div>
</nav>
