<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>

<%= form_tag spree.products_path, :method => :get, class: "navbar-form-search" do %>
  <!-- <div class="form-group">
    <% cache(cache_key_for_taxons) do %>
      <%= select_tag :taxon,
            options_for_select([[Spree.t(:all_departments), '']] +
                                  @taxons.map {|t| [t.name, t.id]},
                                  @taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon', class: "form-control" %>
    <% end %>
  </div> -->
  <div class="input-group">
    <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "form-control form-control-zhendi-default" %>
    <span class="input-group-btn input-group-btn-zhendi">
      <%= submit_tag Spree.t(:search), :name => nil, class: "btn btn-primary btn-zhendi-primary" %>
    </span>
  </div>
  <div class="search-navbar clearfix">
      <a class="search-words-item pull-left" href="/products?utf8=✓&keywords=莱家+">莱家</a>
      <a class="search-words-item pull-left" href="/products?utf8=✓&keywords=牛轧糖+">牛轧糖</a>
      <a class="search-words-item pull-left" href="/products?utf8=✓&keywords=曲奇+">曲奇</a>
      <a class="search-words-item pull-left" href="/products?utf8=✓&keywords=彼得+">彼得</a>
      <a class="search-words-item pull-left" href="/products?utf8=✓&keywords=新奇士+">新奇士</a>
  </div>
<% end %>
