<% unless @product_properties.empty? %>
  <div id="product-properties" class="table table-striped" data-hook>
    <% @product_properties.each do |product_property| %>
      <div class="property-item">
        <span class="property-title"><%= product_property.property.presentation %>: </span>
        <span class="property-value"><%= product_property.value %></span>
      </div>
    <% end %>
  </div>
<% end %>
